

   /* User sign in and sign forms. */
.border-form-div {
  background-color: #fff;
  padding-left: 35px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

h2 {
  font-family: Cabin;
  color: #333333;
  font-size: 1.8em;
  letter-spacing: 0.1em;
}

.devise_links {
  font-family: Cabin;
  color: #333333;
  font-size: 1.0em;
  letter-spacing: 0.1em;
}