@font-face {
font-family: Cabin;
src: url('Cabin-Bold.otf'),
     url('Cabin-Bold.eot'); /* IE9 */
}

body {
  font-family: Cabin;
  color: #333333;
}

a {
  color: red;
}

a:hover {
  color: red;
}

a:visited {
  color: red;
}

h1 {
  font-size: 2.0em;
  letter-spacing: 0.1em;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.nav {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
}

container {
  margin: 0 auto;
}

.main {
  margin-top: 58px;
}

.about_link {
  text-align: center;
  font-size: 0.7em;
}

.about_link a {
  text-decoration: none;
  color: #333333;
}

.logo {
  text-align: center;
  padding-bottom: 5px;
}

.login {
  text-align: center;
  font-size: 0.7em;
}

.login a {
  text-decoration: none;
  color: #333333;
}

.red_bar {
  text-align: center;
  background-color: red;
  font-size: .70em;
  color: #ffffff;
}

/* Sticky Footer */

html, body {height: 100%;}
#wrap {
   min-height: 100%;
}

#stickyfoot {
   position: relative;
   margin-top: -30px; /* negative value of footer height */
   padding-top: 7px;
   height: 30px;
   clear:both;
} 